<div class="row mb-2">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">Responsibilities</h4>
                    </div>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group mb-0">
                            <div class="form-container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-10">
                                        <div class="form-group">
                                            <label>
                                                Edit responsable
                                            </label>
                                            <select class="form-control searchable" style="width:100% !important;">
                                                <option>Mohammad Ali</option>
                                                <option>Ahmad Abdullah</option>
                                                <option>Sami Mohammad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group mb-0">
                                            <div class="w-100 mt-1">
                                                <label class="d-block">Active</label>
                                            </div>
                                            <div class="w-100">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                                                    <label class="custom-control-label" for="switch1"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-10">
                                        <div class="form-group">
                                            <label>
                                                Edit substitute
                                            </label>
                                            <select class="form-control searchable" style="width:100% !important;">
                                                <option>Mohammad Ali</option>
                                                <option>Ahmad Abdullah</option>
                                                <option>Sami Mohammad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group mb-0">
                                            <div class="w-100 mt-1">
                                                <label class="d-block">Active</label>
                                            </div>
                                            <div class="w-100">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="switch2" name="example">
                                                    <label class="custom-control-label" for="switch2"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 col-md-10">
                                        <div class="form-group">
                                            <label>
                                                Validation responsable
                                            </label>
                                            <select class="form-control searchable" style="width:100% !important;">
                                                <option>Mohammad Ali</option>
                                                <option>Ahmad Abdullah</option>
                                                <option>Sami Mohammad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group mb-0">
                                            <div class="w-100 mt-1">
                                                <label class="d-block">Active</label>
                                            </div>
                                            <div class="w-100">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="switch3" name="example">
                                                    <label class="custom-control-label" for="switch3"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-12 col-md-10">
                                        <div class="form-group">
                                            <label>
                                                Validation substitute
                                            </label>
                                            <select class="form-control searchable" style="width:100% !important;">
                                                <option>Mohammad Ali</option>
                                                <option>Ahmad Abdullah</option>
                                                <option>Sami Mohammad</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <div class="form-group mb-0">
                                            <div class="w-100 mt-1">
                                                <label class="d-block">Active</label>
                                            </div>
                                            <div class="w-100">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="switch4" name="example">
                                                    <label class="custom-control-label" for="switch4"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>