<div class="col-sm-12 col-md-12">
    <div class="form-group">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h4 class="card-title">Hierarchy info</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="form-container">
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label>
                                            Hierarchy code
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            Hierarchy name
                                        </label>
                                        <div class="float-right">
                                            <button id="btn1oar" onclick="classToggleo1()" class="btn lang-btn float-left ar-text">ع</button>
                                            <button id="btn1och" onclick="classToggleo2()" class="btn lang-btn float-left">制</button>
                                        </div>
                                        <input type="text" class="form-control">
                                        <div id="o1ar" class="d-none">
                                            <label>
                                                Object name ع
                                            </label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div id="o1ch" class="d-none">
                                            <label>
                                                Object name 制
                                            </label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">
                                            Description
                                        </label>
                                        <div class="float-right">
                                            <button id="btnDar" class="btn lang-btn float-left ar-text">ع</button>
                                            <button id="btnDch" class="btn lang-btn float-left">制</button>
                                        </div>
                                        <textarea class="form-control text-area" id="exampleFormControlTextarea1" placeholder="Enter Idea details" rows="3"></textarea>
                                        <div id="tDar" class="d-none">
                                            <label>
                                                Description ع
                                            </label>
                                            <textarea class="form-control text-area" id="exampleFormControlTextarea1" placeholder="Enter Idea details" rows="3"></textarea>
                                        </div>
                                        <div id="tDch" class="d-none">
                                            <label>
                                                Description 制
                                            </label>
                                            <textarea class="form-control text-area" id="exampleFormControlTextarea1" placeholder="Enter Idea details" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>